---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('./posts/*.md');
import '../styles/global.css';
import BlogPost from './components/BlogPost.astro';

const pageTitle = "Blogosphere";
---

<BaseLayout pageTitle={pageTitle}>
    <style>
		h1 {
		  color: rebeccapurple;
		  font-size: 4rem;
		}
    </style>
		<h2>My Astro Learning Blog</h2>
         <p>This is where I will post about my journey learning Astro.</p>

        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
  </BaseLayout>
