---
import '../styles/global.css';
import Footer from './components/Footer.astro';
import Header from './components/Header.astro';

const pageTitle = "Yr Homeboy Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - {pageTitle}</title>
	</head>
	<body>
		<Header />

		<h1>{pageTitle}</h1>

		<p>zombie Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, beatae accusantium. Nisi rerum sed odio, tenetur, voluptatibus corporis repellendus velit, consectetur perspiciatis soluta voluptatem facilis unde earum voluptatum quo. Sapiente?</p>

		<Footer />

	</body>
</html>
