---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting	from './components/Greeting'

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari","Hi", "Hello", "Howdy", "Hey there"]} />
  <p><i style="font-weight: bold; text-decoration: underline;">z0mBi3</i> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum nemo, debitis nihil quaerat nam magnam nostrum illo voluptate saepe excepturi minus commodi at. Velit doloribus ducimus hic nihil at impedit!</p>
</BaseLayout>